<template>
  <div>
    <div class="title mb-3">
      {{ item.name }}
    </div>
    <b-form-textarea
      class="textarea"
      rows="4"
      v-model="item.value"
      :placeholder="item.placeholder"
    ></b-form-textarea>
  </div>
</template>

<script>
export default {
  name: "Textarea",
  props: ['item']
}
</script>