<template>
  <div class="avatar">
    <template v-if="status">
      <b-avatar
        variant="main"
        :text="getAbbr()"
        :to="{ name: 'settings-view' }"
      />
    </template>
    <template v-else>
      <b-avatar
        variant="main"
        :to="{ name: 'settings-view' }"
        :src="image"
      />
    </template>
  </div>
</template>

<script>

import service from "@/services/user.service"

export default {
  name: "UserAvatar",
  data() {
    return {
      image: null,
      error: null,
      status: false,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {      
      // service.getUserAvatar().then(
      //   (response) => {
      //     if (!response.data) {
      //       this.status = true;
      //       this.image = response.data;
      //     }
      //   },
      //   (error) => {
      //     this.error = error;
      //   }
      // );
    }
  },
  methods: {
    getAbbr: function () {
      var user = localStorage.getItem("user");
      var username = user.username.slice(0, 1).toUpperCase();
      return username;
    },
  },
};
</script>