<template>
  <div class="smart-filters">
    <div class="title">
      <span>
        {{ number }}
      </span>
      {{ sections.smart.title }}
    </div>
    <div class="description">
      {{ sections.smart.description }}
    </div>
    <b-button
      key="test"
      variant="outline"
      class="mb-4"
      v-b-modal.modal-lg
      @click="$bvModal.show('smart-filters-popup')"
    >
      {{ sections.filters.action }}
    </b-button>
    <b-modal
      id="smart-filters-popup"
      size="lg"
      :title="sections.filters.title"
      hide-footer
      no-stacking
    >
      <div class="modal-body">
        <div class="smart-filters-popup">
          <div class="description">
            {{ sections.filters.description }}
          </div>
        </div>
        <b-row cols="1" cols-sm="2" cols-md="1" cols-xl="2">
          <b-col v-for="(item, index) in filters" :key="index" class="item">
            <div v-if="item.type === 'selector'">
              <Selector class="mb-4" v-bind:item="item" />
            </div>
            <div v-else-if="item.type === 'range'">
              <Range class="mb-4" v-bind:item="item" />
            </div>
          </b-col>
        </b-row>
        <b-row cols="1">
          <b-col v-for="(item, index) in filters" :key="index" class="item">
            <div v-if="item.type === 'textarea'">
              <Textarea class="mb-4" v-bind:item="item" />
            </div>
          </b-col>
        </b-row>
        <div class="buttons">
          <b-button variant="green" class="mr-3" @click="$bvModal.hide('smart-filters-popup')">
            Применить
          </b-button>
          <ResetButton type="filters" />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from "vuex";

const Selector = () => import("@/components/inputs/Selector");
const Textarea = () => import("@/components/inputs/Textarea");
const Range = () => import("@/components/inputs/Range");
const ShowButton = () => import("@/components/buttons/Show");
const ResetButton = () => import("@/components/buttons/Reset");

export default {
  name: "Filters",
  props: ["number", "text"],
  data() {
    return {
      sections: {
        smart: {
          title: "Установите основные фильтры",
          description:
            "Учтите, что фильтрация одинаково сохранена для удобства на различных страницах сервиса.",
        },
        filters: {
          action: "Открыть фильтры",
          title: "Фильтры",
          description:
            "С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития.",
        },
      },
    };
  },
  components: {
    Selector,
    Range,
    Textarea,
    ShowButton,
    ResetButton,
  },
  computed: {
    ...mapState({
      filters: (state) => state.filters.main,
    }),
  },
};
</script>