<template>
  <div class="smart-filters">
    <div class="title">
      <span>
        {{ number }}
      </span>
      {{ title }}
    </div>
    <div class="description">
      {{ description }}
    </div>
    <b-row cols="1">
      <b-col class="item" v-for="(item, index) in smart" :key="index">
        <div class="title">
          {{ item.title }}
        </div>
        <vue-slider
          v-model="item.value"
          :interval="10"
          tooltip-formatter="{value}%"
        ></vue-slider>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from "vuex";

import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";

export default {
  name: "SmartFilters",
  props: ["number"],
  components: {
    VueSlider,
  },
  data() {
    return {
      title: "Умные фильтры",
      description:
        "Выберите приоритет важности указанных фильтров.",
    };
  },
  computed: {
    ...mapState({
      smart: (state) => state.smart.main,
    }),
  },
};
</script>