<template>
  <div class="filter-popup d-flex d-xl-none">
    <b-button variant="orange" @click="$bvModal.show('SmartModal')">
      <img
        src="@/assets/images/icons/filter-light.svg"
        class="mr-2"
        alt="Filter icon"
      />
      {{ title }}
    </b-button>
    <b-modal id="SmartModal" :title="title" hide-footer no-stacking>
      <Filters :number="1" key="filters-popup" />
      <List :number="2" />
      <div class="buttons">
        <ShowButton type="filters" />
        <ResetButton type="filters" />
      </div>
    </b-modal>
  </div>
</template>

<script>
const Filters = () => import("@/components/smart/Filters");
const List = () => import("@/components/smart/List");
const ShowButton = () => import("@/components/buttons/Show");
const ResetButton = () => import("@/components/buttons/Reset");

export default {
  name: "SmartPopup",
  props: ["text"],
  components: {
    Filters,
    List,
    ShowButton,
    ResetButton,
  },
  data() {
    return {
      title: "Умные фильтры",
      description:
        "С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития.",
    };
  },
};
</script>