<template>
  <div class="page-sidebar">
    <perfect-scrollbar class="wrapper">
      <div class="promo">
        <h2>
          {{ title }}
        </h2>
        <div class="description">
          {{ description }}
        </div>
      </div>
      <Filters :number="1" key="filters-popup" />
      <List :number="2" />
      <div class="buttons">
        <ShowButton type="smart" />
        <ResetButton type="smart" />
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script>
const Filters = () => import("@/components/smart/Filters");
const List = () => import("@/components/smart/List");
const ShowButton = () => import("@/components/buttons/Show");
const ResetButton = () => import("@/components/buttons/Reset");

export default {
  name: "SmartSidebar",
  props: ["text"],
  components: {
    Filters,
    List,
    ShowButton,
    ResetButton,
  },
  data() {
    return {
      title: "Умные фильтры",
      description:
        "С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития.",
    };
  },
};
</script>