<template>
  <b-button variant="favorites" :to="{ name: 'favorites-view' }">
    <i class="far fa-lg fa-heart orange"></i>
  </b-button>
</template>

<script>
export default {
  name: 'FavoritesButton'
}
</script>