<template>
  <div class="dropdown-output">
    <b-dropdown
      right
      no-caret
      variant="wrapper btn-wrapper-square"
      toggle-class="text-decoration-none"
    >
      <template #button-content>
        <img src="@/assets/images/icons/filter-output.svg" alt="Filter icon" />
      </template>
      <b-dropdown-item
        v-for="(item, index) in options"
        :key="index"
        @click="filterOffers(item.value)"
      >
        {{ item.name }}
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
export default {
  name: "FilterOutputButton",
  data() {
    return {
      options: [
        { value: "default", name: "По умолчанию" },
        { value: "cheap", name: "Сначала дешёвые" },
        { value: "expensive", name: "Сначала дороже" },
        { value: "new", name: "Новые" },
        { value: "old", name: "Старые" },
      ],
    };
  },
  methods: {
    filterOffers: function (type) {
      this.$store.dispatch("GET_FILTER_OFFERS", {
        num: 12,
        page: 1,
        output: type,
      });
    },
  },
};
</script>