<template>
  <b-button variant="orange" class="mr-3" @click="reset()">
    {{ restore }}
  </b-button>
</template>

<script>
export default {
  name: "RestoreButton",
  props: ["type"],
  data() {
    return {
      restore: "Сбросить",
    };
  },
  methods: {
    reset: function () {
      this.$store.dispatch(this.type + "/reset");
    },
  },
};
</script>