<template>
  <b-button variant="favorites" @click="changeSave">
    <!-- <i class="far fa-lg fa-heart green" v-bind:class="{ 'fas': this.offer.status.save }"></i> -->
    <i class="far fa-lg fa-heart green"></i>
  </b-button>
</template>

<script>
export default {
  name: "SaveButton",
  props: ['offer'],
  methods: {
    changeSave: function() {
      this.offer.status.save = !this.offer.status.save

      if (this.offer.status.save)
        this.$store.dispatch("SAVE_OFFER", { id: this.offer.id })
      else
        this.$store.dispatch("UNSAVE_OFFER", { id: this.offer.id })
    }
  }
}
</script>