<template>
  <b-button variant="green" class="mr-3" @click="searchByFilters()">
    {{ show }}
  </b-button>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "ShowButton",
  props: ["type"],
  data() {
    return {
      show: "Показать",
    };
  },
  computed: {
    ...mapGetters({
      filters: 'filters/onlyValues',
    }),
  },
  methods: {
    searchByFilters() {
      this.$store.dispatch("pagination/filters", {filters: this.filters});
      this.$store.dispatch("offers/filters", {num: 12, page: 0, filters: this.filters});
    },
  },
};
</script>