<template>
  <b-card>
    <template #header>
      <div class="position-relative">
        <Carousel v-bind:images="offer.imgUrls" />
        <!-- <Status v-show="offer.status.display" v-bind:type="offer.status.type" /> -->
      </div>
    </template>
    <b-card-body>
      <div>
        <div class="title mb-3">
          <router-link :to="{ name: 'offer-view', params: { id: offer.id } }">
            {{ offer.title }}
          </router-link>
        </div>
        <div class="text mb-3" v-html="createPreview(offer.description, 100)">
        </div>
      </div>
      <div>
        <div class="value mb-4">
          {{ createPrice(offer.price, getOfferType(offer.rentalTime)) }}
        </div>
        <div class="card-actions">
          <b-button
            variant="green"
            class="mr-3"
            :to="{ name: 'offer-view', params: { id: offer.id } }"
          >
            Открыть
          </b-button>
          <!-- <Save v-bind:offer="offer" /> -->
        </div>
      </div>
    </b-card-body>
  </b-card>
</template>

<script>
const Carousel = () => import("@/components/offer/Carousel");
// const Status = () => import("@/components/offer/Status");
// const Save = () => import("@/components/buttons/Save");

export default {
  name: "OfferCard",
  components: {
    Carousel,
    // Status,
    // Save,
  },
  props: ["offer"],
  methods: {
    createPreview: function (str, value) {
      if (str.length > value) {
        var pos = str.substr(0, value).lastIndexOf(" ");
        str = str.substr(0, pos);
        if (str.slice(-1) == ".") str = str.substr(0, str.length - 1);
        str = str + "...";
        return str;
      }
      return str;
    },
    createName: function (name, district) {
      return district + ", " + name;
    },
    createPrice: function (price, type) {
      return price + " " + "₽" + "/" + type;
    },
    getOfferType(rentalTime) {
      return rentalTime === "DAY" ? "день" : "месяц";
    },
  },
};
</script>