<template>
  <b-row class="offer-comfort">
    <b-col class="wrapper">
      <div class="title">Удобства</div>
      <div class="items">
        <div class="item" v-for="(item, index) in comfort" :key="index">
          <img :src="item.src" :alt="item.alt" />
          <div class="parameter">
            {{ item.parametr }}
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "OfferComfort",
  props: ["comfort"],
};
</script>