<template>
  <div class="offer-content"></div>
</template>

<script>
export default {
  name: "OfferContent",
  props: ["offer"],
  data() {
    return {
      data: {
        month: "В месяц",
        deposit: "Залог",
        commission: "Комиссия",
      },
    };
  },
  methods: {
    createAddress: function (city, district, street, house) {
      return city + ", " + district + ", " + street + ", " + house;
    },
    createValuePrice: function (value, currency) {
      return value + " " + currency;
    },
  },
};
</script>