<template>
  <b-row class="offer-contact">
    <b-col cols="12">
      <div class="wrapper">
        <div class="author">
          <img
            src="@/assets/images/offer/author.png"
            class="author-image"
            alt="Author image"
          />
          <div class="fields">
            <div class="name">Domofond.ru</div>
            <div class="description">Продажа и аренда недвижимости</div>
            <div class="number">{{ count }} объявлений</div>
          </div>
        </div>
        <div class="actions">
          <div class="main">
            <b-button
              @click="openURL(offer.pageUrl)"
              variant="green"
              class="mr-2"
            >
              {{ buttons.original }}
            </b-button>
            <!-- <Save :offer="offer" /> -->
          </div>
          <!-- <Report :offer="offer" /> -->
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

// const Save = () => import("@/components/buttons/Save");
// const Report = () => import("@/components/buttons/Report");

export default {
  name: "OfferContact",
  props: ["offer"],
  // components: {
  //   Save,
  //   Report,
  // },
  data() {
    return {
      description: "объектов",
      buttons: {
        original: "Открыть оригинал",
        report: "Пожаловаться",
      },
    };
  },
  computed: {
    ...mapState({
      count: (state) => state.pagination.count,
    }),
  },
  methods: {
    openURL: function (url) {
      window.open(url, "_blank");
    },
    ...mapActions({
      getCount: "pagination/count",
    }),
  },
  mounted() {
    this.getCount();
  },
};
</script>