<template>
  <div class="offer-description">
    <p v-html="text">
    </p>
  </div>
</template>

<script>
export default {
  name: "OfferDescription",
  props: ["text"],
  data() {
    return {
      title: "Описание",
    };
  },
};
</script>