<template>
  <b-row class="offer-feedback">
    <b-col class="wrapper">
      <div class="title">
        {{ title }}
      </div>
      <div class="feedbacks">
        <div class="item" v-for="(item, index) in feedbacks" :key="index">
          <img :src="item.src" :alt="item.alt">
          {{ item.title + " (" + item.value + ")" }} 
        </div>
        <p>
          {{ text }}
        </p>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "OfferFeedback",
  data() {
    return {
      title: "Отзывы жителей о районе",
      feedbacks: {
        positive: {
          title: "Положительные",
          value: Math.floor(Math.random() * (300 - 50)) + 50,
          src: require("@/assets/images/offer/positive.svg"),
          alt: "Positive feedback"
        },
        negative: {
          title: "Негативные",
          value: Math.floor(Math.random() * (80 - 10)) + 10,
          src: require("@/assets/images/offer/negative.svg"),
          alt: "Negative feedback"
        },
      },
      text: "Отзывы могут не отображать реальные условия или оценку, все данные основаны на общедоступной информации."
    };
  },
};
</script>