<template>
  <b-row class="filters-page">
    <b-col cols="4">
      <Sidebar :text="text" />
    </b-col>
    <b-col class="wrapper-page wrapper-popup" cols="12" xl="8">
      <!-- <div class="navigation">
        <div class="d-flex">
          <Favorites class="mr-3" />
          <Location />
        </div>
        <Output />
      </div> -->
      <Offers :offers="offers" :navigation="true" />
      <Pagination :pages="pages" type="filters" />
    </b-col>
    <Popup :text="text" />
  </b-row>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

const Offers = () => import("@/components/Offers");
const Favorites = () => import("@/components/buttons/Favorites");
const Location = () => import("@/components/buttons/Location");
const Output = () => import("@/components/buttons/Output");
const Sidebar = () => import("@/components/filters/Sidebar");
const Popup = () => import("@/components/filters/Popup");
const Pagination = () => import("@/components/Pagination");

export default {
  name: "FiltersView",
  components: {
    Offers,
    Sidebar,
    Popup,
    Favorites,
    Location,
    Output,
    Pagination,
  },
  computed: {
    ...mapState({
      filters: (state) => state.filters.main,
      offers: (state) => state.offers.filters,
      pages: (state) => state.pagination.filters,
    }),
    ...mapGetters({
      values: "filters/onlyValues",
    }),
  },
  data() {
    return {
      text: {
        title: "Фильтры",
        description:
          "С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития.",
      },
    };
  },
  methods: {
    ...mapActions({
      load: "offers/filters",
      count: "pagination/filters"
    }),
  },
  mounted() {
    this.load({ num: 12, page: 0, filters: this.values });
    this.count({ filters: this.values[0] });
  },
};
</script>