<template>
  <div class="form">
    <form class="form-wrapper" name="form" @submit.prevent="handleRegitration">
      <div class="content">
        <ReturnArrow :view="'main-view'" />
        <h1>{{ data.title }}</h1>
        <p>{{ data.description }}</p>
        <div class="inputs">
          <div class="input-item">
            <label class="input-wrapper-label">
              {{ inputs.username.title }}
            </label>
            <b-form-input
              v-model.trim="user.username"
              @input="$v.user.username.$touch"
              autocomplete="username"
              class="input-wrapper"
              type="text"
            ></b-form-input>
            <div
              class="error"
              v-if="!$v.user.username.required && $v.user.username.$dirty"
            >
              {{ inputs.username.errors.req }}
            </div>
            <div
              class="prompt"
              v-else-if="!$v.user.username.minLength && $v.user.username.$dirty"
            >
              {{ inputs.username.errors.min }}
            </div>
          </div>
          <div class="input-item">
            <label class="input-wrapper-label">
              {{ inputs.password.title }}
            </label>
            <b-form-input
              v-model.trim="user.password"
              @input="$v.user.password.$touch"
              autocomplete="password"
              class="input-password"
              type="password"
            ></b-form-input>
            <div
              class="error"
              v-if="!$v.user.password.required && $v.user.password.$dirty"
            >
              {{ inputs.password.errors.req }}
            </div>
            <div
              class="prompt"
              v-else-if="!$v.user.password.minLength && $v.user.password.$dirty"
            >
              {{ inputs.password.errors.min }}
            </div>
          </div>
        </div>
        <div v-if="error.status">
          <Error :title="error.title" />
        </div>
        <div class="buttons">
          <b-button
            :disabled="loading"
            variant="green"
            class="mt-3"
            type="submit"
          >
            {{ buttons.auth }}
          </b-button>
          <b-button
            :to="{ name: 'register-view' }"
            :disabled="loading"
            variant="outline"
            class="mt-3"
          >
            {{ buttons.register }}
          </b-button>
        </div>
        <Spinner :status="loading" />
      </div>
    </form>
  </div>
</template>

<script>
import User from "@/models/user";

const ReturnArrow = () => import("@/components/forms/ReturnArrow");
const Recovery = () => import("@/components/forms/Recovery");
const Error = () => import("@/components/forms/Error");
const Spinner = () => import("@/components/forms/Spinner");

import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "LoginView",
  components: {
    ReturnArrow,
    Error,
    Recovery,
    Spinner,
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) this.$router.push({ name: "main-view" });
  },
  methods: {
    displaySpinner: function (status) {
      this.loading = status;
    },
    displayError: function (title, status) {
      this.error.title = title;
      this.error.status = status;
    },
    handleRegitration: function () {
      this.displayError(null, false);
      this.displaySpinner(true);

      if (this.$v.$invalid) {
        this.$v.$touch();
        this.displaySpinner(false);
        return;
      } else {
        this.$store.dispatch("auth/signin", this.user).then(
          () => {
            location.reload();
          },
          (error) => {
            this.displaySpinner(false);
            this.displayError(
              (error.response &&
                error.response.data &&
                error.response.data.message) ||
                error.message ||
                error.toString(),
              true
            );
          }
        );
      }
    },
  },
  data() {
    return {
      loading: false,
      error: {
        status: false,
        title: null,
      },
      data: {
        title: "Авторизация",
        description:
          "Войдите в аккаунт для доступа ко всему функционалу сервиса.",
      },
      inputs: {
        username: {
          title: "Укажите Ваш логин",
          errors: {
            req: "Не указан логин",
            min: "Поле должно содержать минимум 5 знаков",
          },
        },
        password: {
          title: "Укажите Ваш пароль",
          errors: {
            req: "Не указан пароль",
            min: "Поле должно содержать минимум 6 знаков",
          },
        },
      },
      buttons: {
        register: "Регистрация",
        auth: "Авторизоваться",
      },
      user: new User("", ""),
    };
  },
  validations: {
    user: {
      username: {
        required,
        minLength: minLength(5),
      },
      password: {
        required,
        minLength: minLength(6),
      },
    },
  },
};
</script>