<template>
  <b-row class="offer-page">
    <b-col class="wrapper" cols="12" xl="8">
      <b-row>
        <b-col class="wrapper-page">
          <b-row>
            <b-col cols="12" lg="8">
              <Carousel :images="offer.imgUrls" />
              <Name :title="offer.title" :location="offer.address" />
              <Prices :prices="offer" />
            </b-col>
            <b-col cols="12" lg="4">
              <Contact :offer="offer" />
            </b-col>
            <b-col cols="12" lg="8">
              <Description :text="offer.description" />
              <Values :values="offer" />
              <!-- <Comfort :comfort="offer.comfort" /> -->
              <b-row cols="1" cols-lg="2">
                <!-- <b-col>
                  <Info :info="offer" />
                </b-col>
                <b-col>
                  <House :house="offer" />
                </b-col> -->
                <b-col>
                  <Region :district="offer.district" />
                </b-col>
                <b-col>
                  <Feedback :district="offer.district" />
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-col>
    <b-col class="map half-map" cols="4">
      <Map />
    </b-col>
  </b-row>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

const Carousel = () => import("@/components/offer/Carousel");
const Map = () => import("@/components/map/Map");
const Name = () => import("@/components/offer/Name");
const Prices = () => import("@/components/offer/Prices");
const Contact = () => import("@/components/offer/Contact");
const Description = () => import("@/components/offer/Description");
const Values = () => import("@/components/offer/Values");
const Comfort = () => import("@/components/offer/Comfort");
const Info = () => import("@/components/offer/Info");
const House = () => import("@/components/offer/House");
const Region = () => import("@/components/offer/Region");
const Feedback = () => import("@/components/offer/Feedback");

export default {
  name: "OfferView",
  components: {
    Carousel,
    Map,
    Name,
    Prices,
    Contact,
    Description,
    Values,
    Comfort,
    Info,
    House,
    Region,
    Feedback,
  },
  data() {
    return {
      value: 0,
    };
  },
  computed: {
    ...mapState({
      offer: (state) => state.offer.main,
    }),
  },
  mounted() {
    this.value = Math.floor(Math.random() * (10 - 0) + 0);
    this.load({ id: this.$route.params.id });
  },
  methods: {
    ...mapActions({
      load: "offer/main",
    }),
  },
};
</script>