<template>
  <div class="form">
    <form class="form-wrapper" name="form" @submit.prevent="handleRegitration">
      <div class="content">
        <ReturnArrow :view="'login-view'" />
        <h1>{{ data.title }}</h1>
        <div v-if="!success">
          <p>{{ data.description }}</p>
          <div class="inputs">
            <div class="input-item">
              <label class="input-wrapper-label">
                {{ inputs.username.title }}
              </label>
              <b-form-input
                v-model.trim="user.username"
                @input="$v.user.username.$touch"
                autocomplete="username"
                class="input-wrapper"
                type="text"
              ></b-form-input>
              <div
                class="error"
                v-if="!$v.user.username.required && $v.user.username.$dirty"
              >
                {{ inputs.username.errors.req }}
              </div>
              <div
                class="prompt"
                v-else-if="
                  !$v.user.username.minLength && $v.user.username.$dirty
                "
              >
                {{ inputs.username.errors.min }}
              </div>
            </div>
            <div class="input-item">
              <label class="input-wrapper-label">
                {{ inputs.email.title }}
              </label>
              <b-form-input
                v-model.trim="user.email"
                @input="$v.user.email.$touch"
                autocomplete="email"
                class="input-wrapper"
                type="text"
              ></b-form-input>
              <div
                class="error"
                v-if="!$v.user.email.required && $v.user.email.$dirty"
              >
                {{ inputs.email.errors.req }}
              </div>
              <div
                class="prompt"
                v-else-if="!$v.user.email.email && $v.user.email.$dirty"
              >
                {{ inputs.email.errors.format }}
              </div>
            </div>
            <div class="input-item">
              <label class="input-wrapper-label">
                {{ inputs.password.title }}
              </label>
              <b-form-input
                v-model.trim="user.password"
                @input="$v.user.password.$touch"
                autocomplete="new-password"
                class="input-password"
                type="password"
              ></b-form-input>
              <div
                class="error"
                v-if="!$v.user.password.required && $v.user.password.$dirty"
              >
                {{ inputs.password.errors.req }}
              </div>
              <div
                class="prompt"
                v-else-if="
                  !$v.user.password.minLength && $v.user.password.$dirty
                "
              >
                {{ inputs.password.errors.min }}
              </div>
            </div>
            <div class="input-item">
              <label class="input-wrapper-label">
                {{ inputs.repeat.title }}
              </label>
              <b-form-input
                v-model.trim="user.repeat"
                @input="$v.user.repeat.$touch"
                autocomplete="new-password"
                class="input-password"
                type="password"
              ></b-form-input>
              <div
                class="error"
                v-if="!$v.user.repeat.required && $v.user.repeat.$dirty"
              >
                {{ inputs.repeat.errors.req }}
              </div>
              <div
                class="prompt"
                v-else-if="!$v.user.repeat.minLength && $v.user.repeat.$dirty"
              >
                {{ inputs.repeat.errors.min }}
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <p>
            {{ data.congratulation }}
          </p>
        </div>
        <div v-if="error.status">
          <Error :title="error.title" />
        </div>
        <div class="buttons">
          <b-button
            v-if="!success"
            :disabled="loading"
            variant="green"
            class="mt-3"
            type="submit"
          >
            {{ buttons.register }}
          </b-button>
          <b-button
            v-else
            :to="{ name: 'login-view' }"
            :disabled="loading"
            variant="green"
            class="mt-3"
          >
            {{ buttons.auth }}
          </b-button>
        </div>
        <Spinner :status="loading" />
      </div>
    </form>
  </div>
</template>

<script>
import User from "@/models/user";

const ReturnArrow = () => import("@/components/forms/ReturnArrow");
const Recovery = () => import("@/components/forms/Recovery");
const Error = () => import("@/components/forms/Error");
const Spinner = () => import("@/components/forms/Spinner");

import { required, minLength, email } from "vuelidate/lib/validators";

export default {
  name: "LoginView",
  components: {
    ReturnArrow,
    Error,
    Recovery,
    Spinner,
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) this.$router.push({ name: "main-view" });
  },
  methods: {
    displaySpinner: function (status) {
      this.loading = status;
    },
    displayError: function (title, status) {
      this.error.title = title;
      this.error.status = status;
    },
    displaySuccess: function (status) {
      this.success = status;
    },
    handleRegitration: function () {
      this.displayError(null, false);
      this.displaySpinner(true);

      if (this.$v.$invalid) {
        this.$v.$touch();
        this.displaySpinner(false);
        return;
      } else {
        if (this.user.password === this.user.repeat) {
          this.$store.dispatch("auth/signup", this.user).then(
            () => {
              this.displaySpinner(false);
              this.displaySuccess(true);
            },
            (error) => {
              this.displaySpinner(false);
              this.displayError(
                (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
                  error.message ||
                  error.toString(),
                true
              );
            }
          );
        } else {
          this.displaySpinner(false);
          this.displayError("Введённые пароли не совпадают", true);
        }
      }
    },
  },
  data() {
    return {
      loading: false,
      success: false,
      error: {
        status: false,
        title: null,
      },
      data: {
        title: "Регистрация",
        description:
          "Создайте аккаунт и получите доступ ко всему функционалу сервиса.",
        congratulation: "Вы успешно зарегестрированы!",
      },
      inputs: {
        username: {
          title: "Укажите Ваш логин",
          errors: {
            req: "Не указан логин",
            min: "Поле должно содержать минимум 5 знаков",
          },
        },
        email: {
          title: "Укажите Вашу почту",
          errors: {
            req: "Не указана почта",
            format: "Проверьте формат указанной почты",
          },
        },
        password: {
          title: "Укажите Ваш пароль",
          errors: {
            req: "Не указан пароль",
            min: "Поле должно содержать минимум 6 знаков",
          },
        },
        repeat: {
          title: "Повторите Ваш пароль",
          errors: {
            req: "Не указан пароль",
            min: "Поле должно содержать минимум 6 знаков",
          },
        },
      },
      buttons: {
        register: "Регистрация",
        auth: "Авторизоваться",
      },
      user: new User("", "", ""),
    };
  },
  validations: {
    user: {
      username: {
        required,
        minLength: minLength(5),
      },
      email: {
        required,
        email,
      },
      password: {
        required,
        minLength: minLength(6),
      },
      repeat: {
        required,
        minLength: minLength(6),
      },
    },
  },
};
</script>