<template>
  <div class="groups">
    <b-row cols="1" cols-sm="2" cols-md="3">
      <b-col v-for="(item, index) in groups" v-bind:key="index" class="my-2">
        <b-card :class="item.card" @click="update(item)">
          <div class="title">
            <router-link class="stretched-link" :to="{ name: item.url }">
              {{ item.name }}
            </router-link>
          </div>
          <p class="text">
            {{ item.text }}
          </p>
          <div class="value">
            {{ item.value }}
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Groups",
  data() {
    return {
      groups: require("@/data/components/groups"),
    };
  },
  methods: {
    update: function (item) {
      switch (item.type) {
        case "long-term":
          this.$store.dispatch("filters/grouping", { type: "MONTH" });
          break;
        case "daily":
          this.$store.dispatch("filters/grouping", { type: "DAY" });
          break;
        default:
          break;
      }
    },
  },
};
</script>