<template>
  <b-col class="header" cols="12">
    <b-navbar toggleable="md">
      <router-link :to="{ name: 'main-view' }">
        <Logotype v-bind:mobile="true" />
      </router-link>
      <div class="header-actions">
        <router-link to="/settings">
          <Avatar />
        </router-link>
        <b-navbar-toggle
          class="header-hamburger"
          target="nav-collapse"
          @click="hamburger()"
        >
          <div class="hamburger">
            <div class="menu-wrapper">
              <div
                class="hamburger-menu"
                :class="{ animate: navbar.status }"
              ></div>
            </div>
          </div>
        </b-navbar-toggle>
      </div>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav id="header-nav">
          <div class="title">
            {{ titles.navigation }}
          </div>
          <b-nav-item
            v-for="(item, index) in navbar.data"
            :to="{ name: item.url, hash: item.hash }"
            :key="index"
          >
            {{ item.name }}
          </b-nav-item>
          <div v-if="exit.status">
            <div class="title">
              {{ titles.account }}
            </div>
            <b-nav-item @click="logout()">
              {{ exit.title }}
            </b-nav-item>
          </div>
          <div class="title">
            {{ titles.socials }}
          </div>
          <Socials />
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </b-col>
</template>

<script>
const Avatar = () => import("@/components/user/Avatar");
const Logotype = () => import("@/components/Logotype");
const Socials = () => import("@/components/Socials");

export default {
  name: "Header",
  components: {
    Avatar,
    Logotype,
    Socials,
  },
  data() {
    return {
      titles: {
        navigation: "Навигация",
        socials: "Наши социальные сети",
        account: "Аккаунт",
      },
      exit: {
        title: "Выйти из аккаунта",
        status: false,
      },
      navbar: {
        data: require("@/data/components/navbar"),
        status: false,
      },
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    this.exit.status = this.loggedIn;
  },
  methods: {
    hamburger: function () {
      this.navbar.status = !this.navbar.status;
    },
    logout: function () {
      if (this.loggedIn) {
        this.$store.dispatch("auth/logout");
        location.reload();
      }
    },
  },
};
</script>