<template>
  <div class="logotype">
    <template v-if="mobile">
      <img src="@/assets/images/logotypes/logotype-mobile.svg" alt="Logotype"/>
    </template>
    <template v-else>
      <img src="@/assets/images/logotypes/logotype.svg" alt="Logotype"/>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Logotype',
  props: ['mobile']
}
</script>