<template>
  <div>
    <b-pagination-nav
      @input="update(page)"
      :number-of-pages="pages"
      :link-gen="linkGen"
      v-model="page"
      align="center"
      first-number
      last-number
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Pagination",
  props: ["pages", "type"],
  data() {
    return {
      page: 1,
    };
  },
  computed: {
    ...mapGetters({
      filters: 'filters/onlyValues',
    }),
  },
  methods: {
    linkGen() {},
    update(value) {
      let f = this.type === "main" ? null : this.filters;
      this.$store.dispatch("offers/" + this.type, { num: 12, page: value - 1, filters: f });
    },
  },
};
</script>