<template>
  <div class="promo">
    <div class="promo-body" :style="background">
      <div class="title">
        {{ promo.title }}
      </div>
      <div class="text my-4">
        {{ promo.text }}
      </div>
      <b-button variant="green" :to="{ name: promo.url }">
        {{ promo.button }}
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Promo",
  data() {
    return {
      background: {
        backgroundImage: `url(${require("@/assets/images/promo/background.png")})`,
      },
      promo: require("@/data/components/promo"),
    };
  },
};
</script>