<template>
  <b-col class="sidebar" cols="auto">
    <router-link class="logotype" :to="{ name: 'main-view' }">
      <Logotype v-bind:mobile="false" />
    </router-link>
    <b-navbar>
      <b-navbar-nav class="top-menu">
        <b-nav-item
          v-for="(item, index) in top"
          :key="index"
          :to="{ name: item.url }"
          :class="item.class"
          active-class="active"
          exact
        >
          <img v-bind:src="item.image" :alt="item.alt" />
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="bottom-menu">
        <Avatar />
        <b-nav-item
          :class="bottom.class"
          :to="{ name: bottom.url }"
          @click="logout()"
        >
          <img v-bind:src="bottom.image" :alt="bottom.alt" />
        </b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </b-col>
</template>

<script>
const Logotype = () => import("@/components/Logotype");
const Avatar = () => import("@/components/user/Avatar");

export default {
  name: "Sidebar",
  components: {
    Logotype,
    Avatar,
  },
  data() {
    return {
      top: {
        main: {
          image: require("@/assets/images/sidebar/main.svg"),
          alt: "Main page",
          url: "main-view",
          class: "main-item",
        },
        // map: {
        //   image: require("@/assets/images/sidebar/map.svg"),
        //   alt: "Map page",
        //   url: "map-view",
        //   class: "map-item",
        // },
        filter: {
          image: require("@/assets/images/sidebar/filter.svg"),
          alt: "Filter page",
          url: "filters-view",
          class: "filter-item",
        },
        settings: {
          image: require("@/assets/images/sidebar/settings.svg"),
          alt: "Settings page",
          url: "settings-view",
          class: "setting-item",
        },
      },
      bottom: {
        image: require("@/assets/images/sidebar/logout.svg"),
        alt: "Logout",
        url: "main-view",
        class: "logout-item",
      },
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  methods: {
    logout: function () {
      if (this.loggedIn) {
        this.$store.dispatch("auth/logout");
        location.reload();
      }
    },
  },
};
</script>