<template>
  <div class="page-sidebar">
    <perfect-scrollbar class="wrapper">
      <div class="promo">
        <h2>
          {{ text.title }}
        </h2>
        <div class="description">
          {{ text.description }}
        </div>
      </div>
      <b-row cols="1" cols-sm="2" cols-md="1" cols-xl="2">
        <b-col v-for="(item, index) in filters" :key="index" class="item">
          <div v-if="item.type === 'selector'">
            <Selector class="mb-4" v-bind:item="item" />
          </div>
          <div v-else-if="item.type === 'range'">
            <Range class="mb-4" v-bind:item="item" />
          </div>
        </b-col>
      </b-row>
      <b-row cols="1">
        <b-col v-for="(item, index) in filters" :key="index" class="item">
          <div v-if="item.type === 'textarea'">
            <Textarea class="mb-4" v-bind:item="item" />
          </div>
        </b-col>
      </b-row>
      <div class="buttons">
        <ShowButton type="smart" />
        <ResetButton type="smart" />
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script>
import { mapState } from "vuex";

const ShowButton = () => import("@/components/buttons/Show");
const ResetButton = () => import("@/components/buttons/Reset");

const Selector = () => import("@/components/inputs/Selector");
const Textarea = () => import("@/components/inputs/Textarea");
const Range = () => import("@/components/inputs/Range");

export default {
  name: "FiltersSidebar",
  props: ["text"],
  components: {
    ShowButton,
    ResetButton,
    Selector,
    Textarea,
    Range,
  },
  computed: {
    ...mapState({
      filters: (state) => state.filters.main,
    }),
  },
};
</script>