<template>
  <div class="map-menu">
    <b-row class="justify-content-center">
      <b-col cols="11" md="10" xl="9" class="map-menu-body">
        <b-row>
          <b-col class="d-flex">
            <Search class="my-2" />
          </b-col>
          <b-col cols="12" md="auto">
            <b-row class="justify-content-between">
              <b-col cols="auto">
                <Location class="my-2" />
              </b-col>
              <b-col cols="auto">
                <b-button class="my-2" variant="filter" @click="showMenu">
                  <img
                    :src="require('@/assets/images/icons/filter.svg')"
                    alt="Filter icon"
                  />
                </b-button>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        cols="11"
        md="10"
        xl="9"
        class="my-4"
        :class="{ 'd-none': !menu.display }"
      >
        <div class="map-filters">
          <b-row cols="1" cols-sm="2" cols-xl="4">
            <b-col v-for="(item, index) in quick" :key="index">
              <div v-if="item.type === 'selector'">
                <Selector class="mb-4" v-bind:item="item" />
              </div>
              <div v-else-if="item.type === 'range'">
                <Range class="mb-4" v-bind:item="item" />
              </div>
            </b-col>
          </b-row>
          <b-row
            cols="1"
            cols-sm="2"
            cols-xl="4"
            :class="{ 'd-none': !menu.more.display }"
          >
            <b-col v-for="(item, index) in additional" :key="index">
              <div v-if="item.type === 'selector'">
                <Selector class="mb-4" v-bind:item="item" />
              </div>
              <div v-else-if="item.type === 'range'">
                <Range class="mb-4" v-bind:item="item" />
              </div>
            </b-col>
          </b-row>
          <b-row class="justify-content-center justify-content-sm-start">
            <b-col cols="auto">
              <b-button variant="green" class="mr-3"> Показать </b-button>
              <b-button variant="orange" class="mr-4" @click="reset()">
                Сбросить
              </b-button>
              <b-button variant="action" @click="showMore()">
                {{ menu.more.title }}
              </b-button>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import { mapState, mapGetters } from "vuex";

const Location = () => import("@/components/buttons/Location");
const Selector = () => import("@/components/inputs/Selector");
const Textarea = () => import("@/components/inputs/Textarea");
const Range = () => import("@/components/inputs/Range");
const Search = () => import("@/components/map/Search");

export default {
  name: "MapSidebar",
  components: {
    Location,
    Selector,
    Range,
    Textarea,
    Search,
  },
  props: ["filters"],
  data() {
    return {
      menu: {
        display: false,
        more: {
          display: false,
          title: "Показать все фильтры",
        },
      },
    };
  },
  methods: {
    showMenu: function () {
      this.menu.display = !this.menu.display;
    },
    showMore: function () {
      this.menu.more.display = !this.menu.more.display;
      if (this.menu.more.display) this.menu.more.title = "Скрыть все фильтры";
      else this.menu.more.title = "Показать все фильтры";
    },
    reset: function () {
      this.$store.dispatch("filters/reset");
    },
  },
  computed: {
    ...mapGetters({
      quick: 'filters/quick',
      additional: 'filters/additional'
    })
  }
};
</script>