/* text */

p {
  color: $light-text;
  font-size: $font-size-text;
  line-height: $font-line-height-text;
}

.green {
  color: $green;

  &:hover {
    color: $green-hover;
  }
}

.orange {
  color: $orange;

  &:hover {
    color: $orange-hover;
  }
}

/* buttons */

button {

  background: rgb(255, 255, 255);
  border: none;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &::-moz-focus-inner {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn {
  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  line-height: 160%;

  padding: $medium-padding;
  border-radius: $medium-radius;
  transition: $medium-transition;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn-rounded {
  border-radius: $full-radius;
  padding: $big-padding;
}

.btn-outline {
  color: $light-text;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $light-hover-text;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-green {
  background: $green;
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(255, 255, 255);
    background: $green-hover;
  }

  &:focus {
    box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.4);
  }
}

.btn-green-outline {
  color: $green;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $green-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-orange {
  background: $orange;
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(255, 255, 255);
    background: $orange-hover;
  }

  &:focus {
    box-shadow: 0px 0px 8px rgba($color: $orange, $alpha: 0.4);
  }
}

.btn-orange-outline {
  color: $orange;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $orange-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-black {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $green-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-wrapper {
  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  padding-left: 1rem;
  padding-right: 1rem;

  border: 1px solid $outline;
  background: rgb(255, 255, 255);
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 17px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  }

  &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}

.btn-wrapper-square {
  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  padding: 0;
}

.btn-favorites {

  height: $wrapper-mobile-element-size;
  min-height: $wrapper-mobile-element-size;

  width: $wrapper-mobile-element-size;
  min-width: $wrapper-mobile-element-size;

  padding: 0;

  border: 1px solid $outline;
  background: rgb(255, 255, 255);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  i {
    font-size: 1.5rem;
    
    &:hover {
      text-decoration: none;
    }
  }

  .green {
    color: $green;

    &:hover {
      color: $green-hover;
    }
  }

  .gray {
    color: $outline;

    &:hover {
      color: $outline-hover;
    }
  }

  .orange {
    color: $orange;

    &:hover {
      color: $orange-hover;
    }
  }
}

.btn-search {

  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 $medium-radius $medium-radius 0;

  background: $green;

  &:hover {
    background: $green-hover;
    box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.25);
  }

  &:focus {
    border: none;
    outline: none;

    box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.4);
  }
}

.btn-filter {
  
  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $green;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $green-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-action {
  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  transition: $medium-transition;

  color: $light-text;
  padding: 0;

  &:hover {
    color: $light-hover-text;
  }
}

.btn-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.75rem 1.25rem;

  height: auto;

  text-align: left;
  border-color: $green; 
  
  transition: $medium-transition;

  img {
    height: 55px;
    max-height: 55px;
    min-height: 55px;
    
    width: 55px;
    max-width: 55px;
    min-width: 55px;
  }

  &:hover {
    background: rgba($color: $green, $alpha: 0.05);
  }
}

.btn-donate {
  border: 1px solid $outline;
  border-radius: $medium-radius;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;

  img {
    height: 65px;
    max-height: 65px;
    min-height: 65px;
    
    width: 65px;
    max-width: 65px;
    min-width: 65px;

    margin-bottom: 1rem;
  }

  .title {
    font-weight: $medium-weight;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .value {
    color: $light-text;
  }

  &:hover {
    background: rgba($color: $green, $alpha: 0.05);
  }
}

.btn-vk {

  color: rgb(255, 255, 255);

  font-size: 1.6rem;
  transition: $small-transition;

  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  padding: 0;

  background: rgb(74, 118, 168);
  border: none !important;

  &:hover {
    color: rgb(255, 255, 255);
    background:rgb(54, 98, 148);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 98, 148, 0.25);
    background: rgb(74, 118, 168);
  }
}

.btn-telegram {

  color: rgb(255, 255, 255);

  font-size: 1.6rem;
  transition: $small-transition;

  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  padding: 0;

  background: rgb(66, 187, 255);
  border: none;

  &:hover {
    color: rgb(255, 255, 255);
    background: rgb(46, 167, 235);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 187, 255, 0.25);
    background: rgb(66, 187, 255);
  }
}

.btn-facebook {

  color: rgb(255, 255, 255);

  font-size: 1.6rem;
  transition: $small-transition;

  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  padding: 0;

  background: rgb(59, 89, 152);
  border: none;

  &:hover {
    color: rgb(255, 255, 255);
    background: rgb(49, 79, 142);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.25);
    background: rgb(49, 79, 142);
  }
}

.btn-report {
  height: auto;
  min-height: auto;
  max-height: auto;
  
  padding: 0px;
  
  background: none;
  border: none;
  
  display: flex;
  align-items: center;

  color: rgba($color: $light-text, $alpha: .5);

  transition: $medium-transition;

  &:hover {
    color: rgba($color: $light-text, $alpha: .75);
  }

  img {
    margin-right: 0.5rem;
  }
}

/* dropdown */

.dropdown-output {
  .dropdown-menu {
    margin-top: 1rem;
    border: 1px solid $outline;

    li {
      margin: 7px 0px;
      
      a {
        color: $light-text;
      
        &:active {
          background: none;
        }

        &:focus {
          background: none;
        }

        &:hover {
          background: none;
          color: $light-hover-text;
        }
      }
    }
  }
}

/* inputs */

.input {
  background: rgb(255, 255, 255);

  border: 1px solid $outline;
  border-radius: $medium-radius;

  color: $light-text;

  padding: $medium-padding;

  font-size: $font-size-standart;
  font-weight: $regular-weight;
  line-height: $font-line-height-input;

  &::placeholder {
    color: rgba($color: $light-text, $alpha: 0.75);
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  }

  &:focus {
    border-color: $outline-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    color: $light-text;
    outline: none;
  }
}

.input-password {
  font-size: 1.5rem;
  letter-spacing: .15rem;

  height: $wrapper-element-size;
  max-height: $wrapper-element-size;

  transition: $small-transition;
  
  color: $green;

  &:focus {
    color: $green-hover;
  }

  &::placeholder {
    letter-spacing: normal;
    color: $green;
  }
}

.input-wrapper {
  height: $wrapper-element-size;
  max-height: $wrapper-element-size;
}

.input-wrapper-label {
  color: $light-text;
}

.input-form-label {
  margin-bottom: 1rem;
  color: $light-text;
}

.form-control:disabled, .form-control[readonly] {
  background: rgba($color: $light-text, $alpha: 0.05);
  border-color: rgba($color: $light-text, $alpha: 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus,
.form-control:focus-visible {
  border: solid 1px $green;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba($color: $light-text, $alpha: 0.2);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* selectors */

.selector {
  .dropdown {
    width: 100%;

    button {
      background: rgb(255, 255, 255);

      height: $wrapper-element-size;
      min-height: $wrapper-element-size;

      width: 100%;
      text-align: left;
      padding: 0px 10px;

      border: 1px solid $outline;
      
      color: $light-text;

      &:hover {
        box-shadow: none;
        border-color: $outline-hover;
      }
    }

    hr {
      color: $light-text;
    }

    .dropdown-menu {
      width: 100%;

      box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
      border: 1px solid $outline;

      .dropdown-item:focus, .dropdown-item:hover {
        background: none;
        outline: none;
        color: $green;
      }

      li {
        margin: 1rem 1rem;
        
        &:hover {
          background: none;
          outline: none;
        }

        .active {
          background: none;
          color: $green;
        }
      }
    }
  }

  img {
    position: absolute;
    
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
  }
}

/* ranges */

.range {
  display: flex;
  align-items: center;

  .line {
    width: 2%;
    height: 2px;

    margin-left: 4%;
    margin-right: 4%;

    background: $outline;
  }

  input {
    width: calc((100% - (4% + 4% + 2%)) / 2);

    line-height: 34px;

    height: 48px;
    min-height: 48px;

    &:hover, 
    &:focus {
      box-shadow: none;
    }
  }
}

/* forms */

.form-checkbox {
  label {
    line-height: 125%;
  }
}

.form-check-input {
  transition: $medium-transition;
  font-size: 1.2rem;
  margin: 0;
}

.form-check-input:hover {
  border-color: $green-hover;
}

.form-check-input:focus {
  border-color: $green;
  box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.2);
}

.form-check-input:checked {
  border-color: $green;
  background: $green;
  background-repeat: no-repeat;
} 

/* toggles */

.toggle {

  $toggle-background-color-on: $orange;
  $toggle-background-color-off: $outline;
  $toggle-control-color: white;
  $toggle-width: 45px;
  $toggle-height: 25px;
  $toggle-gutter: 5px;
  $toggle-control-speed: .15s;
  $toggle-control-ease: ease-in;

  $toggle-radius: $toggle-height / 2;
  $toggle-control-size: $toggle-height - ($toggle-gutter * 2);

  display: flex;
  align-items: center;

  .toggle-control {
    height: $toggle-height;
    position: relative;
    margin-right: 1rem;
    padding-left: $toggle-width;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      pointer-events: none;
    }
  
    input:checked ~ .control {
      background-color: $toggle-background-color-on;
      
      &:after {
        left: $toggle-width - $toggle-control-size - $toggle-gutter;
      }
    }
  
    .control {
      position: absolute;
      top: 0;
      left: 0;
      height: $toggle-height;
      width: $toggle-width;
      border-radius: $toggle-radius;
      background-color: $toggle-background-color-off;
      transition: background-color $toggle-control-speed $toggle-control-ease;
  
      &:after {
        content: "";
        position: absolute;
        left: $toggle-gutter;
        top: $toggle-gutter;
        width: $toggle-control-size;
        height: $toggle-control-size;
        border-radius: $toggle-radius;
        background: $toggle-control-color;
        transition: left $toggle-control-speed $toggle-control-ease;
      }
    }
  }
}

.switch-group {
  display: flex;
  align-items: center;

  label {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

/* textareas */

.textarea {
  background: rgb(255, 255, 255);

  border: 1px solid $outline;
  border-radius: $medium-radius;

  color: $light-text;

  padding: $medium-padding;

  font-size: $font-size-standart;
  font-weight: $regular-weight;
  line-height: $font-line-height-input;

  &::placeholder {
    color: rgba($color: $light-text, $alpha: 0.75);
  }

  &:hover {
    border-color: $outline-hover;
  }

  &:focus {
    border-color: $outline-hover;
    box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.4);
    outline: none;
  }
}

.textarea {
  background: rgb(255, 255, 255);

  border: 1px solid $outline;
  border-radius: $medium-radius;

  color: $light-text;

  padding: $medium-padding;

  font-size: $font-size-standart;
  font-weight: $regular-weight;
  line-height: $font-line-height-input;

  &::placeholder {
    color: rgba($color: $light-text, $alpha: 0.75);
  }

  &:hover {
    border-color: $outline-hover;
  }

  &:focus {
    border-color: $outline-hover;
    box-shadow: none;
    outline: none;
  }
}

/* pagination */

.pagination {
  .page-item {
    margin: 5px;
    
    .page-link {
      padding: 0.75rem 1rem;
      color: $green;
      border-radius: $medium-radius;
      transition: $medium-transition;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .page-item.active {
    .page-link {
      background: $green;
      border: none;
      color: rgb(255, 255, 255);
    }
  }
}

/* treeselect */

.selector {
  .selector-wrapper {
    border: 1px solid $outline;
    border-radius: $medium-radius;

    .vue-treeselect--focused:not(.vue-treeselect--open) .vue-treeselect__control {
      box-shadow: none;
      outline: none;
      border: none;
    }

    .vue-treeselect__control {
      border: none;
      margin: 5px 0px;
    }

    .vue-treeselect__limit-tip-text {
      margin-left: 5px;

      font-size: $font-size-standart;
      font-weight: $regular-weight;
      color: rgb(51, 51, 51);
    }

    .vue-treeselect__menu {
      margin-top: 18px;

      border: 1px solid $outline;
      border-radius: $medium-radius;

      .vue-treeselect__list-item {
        margin: 15px 0px;
      }

      .vue-treeselect__option--highlight {
        background: none;
      }
    }

    .vue-treeselect__checkbox--checked,
    .vue-treeselect__label-container:hover .vue-treeselect__checkbox--checked {
      background: $green;
      border-color: $green;

      &:hover {
        background: $green-hover;
        border-color: $green-hover;
      }
    }

    .vue-treeselect__label-container:hover .vue-treeselect__checkbox--unchecked {
      border-color: $green;

      &:hover {
        border-color: $green-hover;
      }
    }

    .vue-treeselect--single .vue-treeselect__option--selected {
      background: none;
      color: $green;
      font-weight: $regular-weight;

      &:hover {
        color: $green-hover;
      }
    }
  }
}

/* offer popup */

.offer-popup {
  display: flex;

  img {
    height: 50px;
    width: 50px;
    border-radius: $medium-radius;
  }

  .offer-popup-body {
    margin-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.425rem;

    span {
      font-size: 1rem;
    }
  }
}