/* wrapper page */

.wrapper-page {
  padding: 2rem;
}

@include media-breakpoint-down(md) {
  .wrapper-page {
    padding: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .wrapper-page {
    padding: 1.25rem;
    padding-bottom: 8rem;
  }
}


@include media-breakpoint-down(lg) {
  .wrapper-popup {
    padding-bottom: 8rem;
  }
}

@include media-breakpoint-down(sm) {
  .wrapper-popup {
    padding-bottom: 10rem;
  }
}

/* map */

@include media-breakpoint-down(lg) {
  .half-map {
    display: none;
  }
}

/* offers */

@media screen and (max-width: 1500px) {
  .offers {
    .row-cols-xl-3 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .offers {
    .row-cols-xl-3 > * {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}

@media screen and (max-width: 1075px) {
  .offers {
    .row-cols-xl-3 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 850px) {
  .main-page-cards {
    .smart {
      display: none;
    }

    .row-cols-1 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .offers {
    .row-cols-xl-3 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 576px) {
  .offers {
    .row-cols-xl-3 > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  .main-page-cards {
    .smart {
      display: block;
    }

    .row-cols-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

/* offer */

@media screen and (max-width: 1500px) {
  .offer-page {
    .half-map {
      display: none;
    }

    .wrapper {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}