<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12">
        <router-view/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "EmptyLayout"
}
</script>