<template>
  <b-row class="account-data" cols="1" cols-md="2">
    <b-col v-for="(item, index) in user.data" :key="index" class="mb-4">
      <label class="input-wrapper-label mb-3"> {{ item.title }} </label>
      <b-form-input
        class="input-wrapper"
        v-model="item.value"
        placeholder="item.value"
        disabled
      ></b-form-input>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "SettingsAccount",
  data() {
    return {
      user: {
        data: {
          mail: {
            title: "Ваша почта",
            value: "liveforond@gmail.com",
          },
          login: {
            title: "Ваш логин",
            value: "liveforond",
          },
        },
      },
    };
  },
};
</script>