<template>
  <div class="account-image mb-5">
    <div class="d-flex flex-column flex-lg-row">
      <Avatar class="mb-4 mb-lg-0" />
      <div class="d-flex flex-column">
        <div class="actions">
          <b-form-file
            v-model="image"
            :browse-text="button.browse"
            :placeholder="button.load"
            :drop-placeholder="button.drop"
            :plain="true"
            class="mr-3 mt-3 mb-4"
          ></b-form-file>
          <div class="buttons mb-3">
            <b-button variant="green" class="mr-3" @click="setAvatar()">
              {{ button.load }}
            </b-button>
            <b-button variant="outline">
              {{ button.delete }}
            </b-button>
          </div>
        </div>
        <div class="description">
          {{ format }}
          <br class="d-none d-lg-block" />
          {{ size }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormData from 'form-data'
import service from "@/services/user.service"

const Avatar = () => import("@/components/user/Avatar");

export default {
  name: "SettingsAvatar",
  components: {
    Avatar,
  },
  data() {
    return {
      image: null,
      result: null,
      button: {
        browse: "Выбрать",
        load: "Загрузить",
        loaded: "Изображение загружено",
        drop: "Отпустите сюда файл",
        delete: "Удалить",
      },
      format: "Вы можете загрузить изображение JPG и PNG формата.",
      size: "Максимальный размер - 2 мб.",
    };
  },
  mathods: {
    setAvatar: function() {
      let data = new FormData();
      data.append('image', this.image);

      service.setUserAvatar(data).then(
      (response) => {
        this.result = data.response
      },
      (error) => {
        console.log("Ошибка загруки.")
      }
    );
    }
  }
};
</script>