<template>
  <div class="donate-data">
    <p class="mb-4">
      Равным образом новая модель организационной деятельности представляет
      собой интересный эксперимент проверки направлений прогрессивного развития.
    </p>
    <b-row cols="2" cols-md="4">
      <b-col v-for="(item, index) in donate" :key="index" class="mb-4">
        <b-button variant="donate" class="w-100 h-100">
          <img :src="item.img" :alt="item.alt" />
          <div class="body">
            <div class="title">
              {{ item.title }}
            </div>
            <div class="value">
              {{ item.value }}
            </div>
          </div>
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "SettingsDonate",
  data() {
    return {
      donate: {
        s: {
          img: require("@/assets/images/donate/s.svg"),
          alt: "S icon",
          title: "S",
          value: "50 ₽",
        },
        m: {
          img: require("@/assets/images/donate/m.svg"),
          alt: "M icon",
          title: "M",
          value: "100 ₽",
        },
        l: {
          img: require("@/assets/images/donate/l.svg"),
          alt: "L icon",
          title: "L",
          value: "150 ₽",
        },
        xl: {
          img: require("@/assets/images/donate/xl.svg"),
          alt: "XL icon",
          title: "XL",
          value: "200 ₽",
        },
      },
    };
  },
};
</script>