<template>
  <div class="notification-data mb-5">
    <div class="switch-group py-3" v-for="(item, index) in modes" :key="index">
      <toggle-button
        class="switch"
        :color="{
          checked: 'rgb(255, 120, 0)',
          unchecked: 'rgb(230, 230, 230)',
          disabled: '#CCCCCC',
        }"
        v-model="item.value"
      />
      {{ item.title }}
    </div>
  </div>
</template>

<script>
export default {
  name: "SettingsNotification",
  data() {
    return {
      modes: {
        newsletter: {
          title: "Получать рассылку новостей и сообщений на почту",
          value: false,
        },
        browser: {
          title: "Получать уведомления в браузере",
          value: false,
        },
        important: {
          title: "Получать самые важные сообщения на почту",
          value: true,
        },
      },
    };
  },
};
</script>