<template>
  <div class="project-data">
    <h4 class="title mb-3">
      {{ project.name }}
    </h4>
    <div class="text mb-3">
      {{ project.description }}
    </div>
    <div class="data mb-3">
      <div class="item d-flex justify-content-between">
        <div class="title">
          {{ project.version.title }}
        </div>
        <div class="value">
          {{ project.version.value }}
        </div>
      </div>
      <div class="item d-flex justify-content-between">
        <div class="title">
          {{ project.users.title }}
        </div>
        <div class="value">
          {{ project.users.value }}
        </div>
      </div>
      <div class="item d-flex justify-content-between">
        <div class="title">
          {{ project.offers.title }}
        </div>
        <div class="value">
          {{ project.offers.value }}
        </div>
      </div>
    </div>
    <Socials />
  </div>
</template>

<script>
const Socials = () => import("@/components/Socials");

export default {
  name: "SettingsProject",
  components: {
    Socials,
  },
  data() {
    return {
      project: {
        name: "Квик",
        description:
          "Равным образом модель организационной деятельности представляет эксперимент проверки направлений развития.",
        version: {
          title: "Версия проекта:",
          value: "0.01",
        },
        users: {
          title: "Количество пользователей:",
          value: "475",
        },
        offers: {
          title: "Количество объявлений:",
          value: "9 475",
        },
      },
    };
  },
};
</script>