<template>
  <div class="support-data mb-5">
    <p class="mb-4">
      Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. 
    </p>
    <div class="buttons">
      <button class="btn btn-green mr-3">
        Написать в поддержку
      </button>
      <button class="btn btn-green-outline">
        Читать FAQ
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SettingsSupport'
}
</script>