<template>
  <router-link class="arrow" :to="{ name: view }">
    <img :src="image.src" :alt="image.alt" />
    <span> {{ title }} </span>
  </router-link>
</template>

<script>
export default {
  name: "ReturnArrowForm",
  props: ["view"],
  data() {
    return {
      title: "Назад",
      image: {
        src: require("@/assets/images/icons/back.svg"),
        alt: "Return icon",
      },
    };
  },
};
</script>