<template>
  <div class="loading" :class="{ 'd-none': !status }">
    <b-spinner variant="success" label="Spinning"></b-spinner>
  </div>
</template>

<script>
export default {
  name: "SpinnerForm",
  props: [ 'status' ],
}
</script>